<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Learn In Pairs", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
              <ul class="nav pull-right"> 
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "Sign In", signin_path %></li>
              </ul>
        </ul>
      </nav>
    </div>
  </div>
</header>